.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.header-links{
    display: flex;
    gap: 8px;
    align-items: center;
}
a{
    text-decoration: none;

}
ul{
    list-style-type:none;
}
li{
    margin-bottom: 16px;
  }
.info{
    display: flex;
}